doctype html
head
  //
    if gte mso 9xml
    o:officedocumentsettings
    o:allowpng
    o:pixelsperinch 96
  meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
  meta(content='width=device-width' name='viewport')
  //if !mso
    | [if !mso]
  meta(content='IE=edge' http-equiv='X-UA-Compatible')
  // <![endif]
  title
  //if !mso
    | [if !mso]
  link(href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet')
  // <![endif]
  style
    include ../css/style.css
body
  table(width="100%" cellspacing="0" cellpadding="0" border="0")
    tbody
      tr
        td(align='center')
          include ../pug/header.pug
          table.spacer(width='100%')
            tbody
              tr
                td(height='25px')
          .wrapper
            .wrapper--inner
              table.header(width="100%" cellspacing="0" cellpadding="0" border="0")
                tbody
                  tr
                    td.header-title
                      span
                        | Hi 
                        span.text-important #{name}! 
                  tr
                    td.header-text
                      span 
                        | We would like to remind you 
                        br
                        | that you have an event coming up tomorrow.
            .wrapper--inner
              table(width='100%')
                tbody
                  tr
                    td
                      table(align='center')
                        tbody
                          tr(align='center')
                            td
                              a(href='https://www.aemeeting.org/' rel='noreferrer' target='_blank')
                                img.center.fixedwidth(src="cid:ticket@cid" alt='allow showing pictures to see the QR Code' width='195')
              table(width="100%" cellspacing="0" cellpadding="0" border="0")
                tbody
                  tr
                    td
                      .btn-container.text-center
                        a.btn.btn-rounded(href='https://aemeeting.org/users/tickets')
                          strong(style='color:#ffffff') SEE MY TICKETS
                  tr
                    td.text-small.text-secondary.text-center
                      span 
                        | PLEASE make sure to cancel your ticket if you can't make it.
                        br
                        | So others can have a chance to attend
                  tr
                    td.text-small.text-center
                      | Looking forward to seeing you ðŸ˜
            table.spacer(width='100%')
              tbody
                tr
                  td(height='50px')
            include ../pug/contact.pug
          table.spacer(width='100%')
            tbody
              tr
                td(height='25px')
          include ../pug/footer.pug