.wrapper--inner
  table(width="100%" cellspacing="0" cellpadding="0" border="0")
    thead
      tr
        td(colspan='2' height='80')
          span.header-title.text-important Need help?
          br
          span.text-secondary.text-small Please don&apos;t hesitate to contact us.
    tbody.text-small
      tr
        td(width='120')
          span.text-secondary Phone number:
        td
          span
            a(href='tel:+213559877244') +213 559 877 244
      tr
        td
          span.text-secondary Email:
        td
          span
            a(href='mailto:support@aemeeting.org') support@aemeeting.org
.wrapper--inner
  table(width="100%" cellspacing="0" cellpadding="0" border="0")
    tbody
      tr
        td(colspan='2' height='80')
          span.header-title.text-important Wanna join?
          br
          a.text-secondary.text-small(href='https://www.aemeeting.org/join' target='_blank') 
            | Be part of our organization now.