.footer
  table(width="100%" cellspacing="0" cellpadding="0" border="0")
    tbody
      tr
        td
          table(align='center')
            tbody
              tr(align='center')
                td
                  a(href='https://www.facebook.com/aemeeting')
                    img(src=images.facebook height='32' alt='facebook')
                td
                  a(href='https://instagram.com/aemeeting')
                    img(src=images.instagram height='32' alt='instagram')
  table(width="100%" cellspacing="0" cellpadding="0" border="0")
    tbody
      tr
        td.text-small.text-secondary
          center
            span Algeria English Meeting
            br
            span &copy; 2018 - #{year}, All Rights Reserved