.logo
  table(width='100%')
    tbody
      tr
        td
          table(align='center')
            tbody
              tr(align='center')
                td
                  a(href='https://www.aemeeting.org/' rel='noreferrer' target='_blank')
                    img.center.fixedwidth(alt="Algeria English Meeting" src=images.logo width='195')