.wrapper--inner
  table(width="100%" cellspacing="0" cellpadding="0" border="0")
    thead
      tr
        td(colspan='2' height='80')
          span.text-important You don't want to recieve more events?
          br
          span.text-secondary.text-small You can 
            a(href="https://aemeeting.org/user/follows") unfollow 
            | a team or totally 
            a(href=`https://aemeeting.org/unsubscribe?eid=${eid}&id=${id}`) unsubscribe
            | .
    